body {
    background-color: #162837;
    color: lightgray;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: #25425c;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    border: 4px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
    margin: 5px;
}

header h1:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.header-link {
    text-decoration: none;
    color: inherit;
}

.header-link h1 {
    color: white;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-card {
    border: 1px solid #fff;
    border-radius: 36px;
    padding: 1rem;
    width: 250px;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.project-meta {
    font-size: 0.9rem;
    color: #666;
}

.body-content {
    margin-top: 150px;
}

.create-link {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 25px;
    background-color: #3B82F6;
    margin: 25px;
}

.create-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: #2563EB;
}

.dashboard-title {
    display: flex;
    justify-content: center;
}

button.remove-button {
    background-color: #7F2F2F;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px;
    color: white;
    justify-content: end;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
button.remove-button:hover {
    cursor: pointer;
    background-color: #6B1F1F;
}

.tasklist {
    list-style-position: inside;
    padding: 10px;
}

.task {
    border: 1px solid #fff;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.create-subtask {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 25px;
    background-color: #3B82F6;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-right: 100px;
}

.create-subtask:hover {
    background-color: #2563EB;
}

button.remove-task {
    background-color: #7F2F2F;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px;
    color: white;
    justify-content: end;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-right: 10px;
    font-size: 1rem;
}
button.remove-task:hover {
    cursor: pointer;
    background-color: #6B1F1F;
}