<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div th:fragment="loggedInNavbarnavbar">
<header>

    <a href="/dashboard" class="header-link">
        <h1>Project Calculation Tool</h1>
    </a>

</header>
    <ul class="navbar">
        <li><a th:href="@{/dashboard}">My Projects</a></li>
        <li><a th:href="@{/showAllocatedTasks/{memberId}(memberId=${memberId})}">My Tasks</a></li>
        <li><a th:href="@{/logout}" >logout</a></li>
    </ul>
</div>

<div th:fragment="notLoggedInNavbar">
    <header>

        <a href="/dashboard" class="header-link">
            <h1>Project Calculation Tool</h1>
        </a>

    </header>
</div>
</body>
</html>