<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>create member</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <form th:action="@{login}">
        <button class="close-btn" >&times;</button>
    </form>

    <h1>
        Opret en profil
    </h1>
    <form action="#" th:action="@{/projectplanner/register}" th:object="${member}" method="post">
        <table>
            <tr>
                <td>
                    Navn:
                </td>
                <td>
                    <input type="text" placeholder="Navn" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="email" placeholder="Email" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <td>
                    Adgangskode:
                </td>
                <td>
                    <input type="password" placeholder="Adgangskode" th:field="*{password}">
                </td>
            </tr>


        </table>
        <input type="checkbox" id="consent" name="consent" required>
        <label for="consent" >
            Jeg accepterer behandling af mine data i henhold til privatlivspolitikken.
            <a href="/privatlivspolitik" target="_blank">privatlivspolitikken</a>.
        </label>
        <button type="submit" class="button">Opret</button>
    </form>
</div>
</body>
</html>