<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>create project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a href="/dashboard" class="header-link">
        <h1>Project Calculation Tool</h1>
    </a>
    <a href="/logout" class="create-link">
        logout
    </a>
</header>
<div class="create-project-body">
    <div class="project-title">
        <h1>Add a Project</h1>
    </div>
    <form action="#" th:action="@{/createProject}" th:object="${project}" method="post">
        <table>
            <tr>
                <td>
                    Project
                </td>
                <td>
                    <input type="text" placeholder="Name Project" th:field="*{title}">
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <input type="text" placeholder="Write something" th:field="*{description}">
                </td>
            </tr>
            <tr>
                <td>
                    Estimated Time
                </td>
                <td>
                    <input type="number" placeholder="In days" th:field="*{estimatedTime}">
                </td>
            </tr>

        </table>

        <button type="submit" class="create-link">Create</button>
        <a href="/dashboard" class="create-cancel">
            Cancel
        </a>
    </form>
</div>
</body>
</html>