<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>create Subtask</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="login-page">


<header>
    <a href="/dashboard" class="header-link">
        <h1>Project Calculation Tool</h1>
    </a>

    <a href="/logout" class="logout-button">
        Logout
    </a>
</header>

<div class="body-content">
    <div class="dashboard-title">
        <h1>Create Subtask</h1>
    </div>

    <div class="projects-grid">
        <div class="create-card">
            <form th:action="@{/createSubtask/{projectId}(projectId = ${projectId})}" method="post" th:object="${subtask}">
                <div class="form-group">
                    <label for="title">Subtask title</label>
                    <input id="title"
                           type="text"
                           th:field="*{title}"
                           class="input-field"
                           placeholder="Enter subtask title"
                           required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description"
                              th:field="*{description}"
                              class="input-field"
                              placeholder="Enter subtask description"
                              required></textarea>
                </div>

                <div class="form-group">
                    <label for="estimatedTime">Estimated time (hours)</label>
                    <input id="estimatedTime"
                           type="number"
                           min="0"
                           step="1"
                           th:field="*{estimatedTime}"
                           class="input-field"
                           placeholder="e.g. 8"
                           required>
                </div>

                <div class="form-group">
                    <label for="memberId">Assigned member</label>
                    <select id="memberId"
                            class="input-field"
                            th:field="*{memberId}">
                        <option value="" disabled selected>-- Select member --</option>
                        <option th:each="member : ${members}"
                                th:value="${member.memberId}"
                                th:text="${member.name}">
                        </option>
                    </select>
                </div>

                <input id="projectId"
                       type="hidden"
                       th:field="*{taskId}">
                <input id="status"
                       type="hidden"
                       th:field="*{status}">

                <button type="submit" class="create-link-subtask">Create Subtask</button>
            </form>
        </div>
    </div>
</div>