<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>project overview</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a href="/dashboard" class="header-link">
        <h1>Project Calculation Tool</h1>
    </a>
</header>
<div class="body-content">
    <div class="dashboard-title">
        <h1 th:text="'tasks for ' + ${projectTitle} + ' project'"></h1>

        <a th:href="@{/createTask/{projectId}(projectId=${projectId})}" class="create-link">
            Create new task
        </a>


        <form th:action="@{/inviteMember/{projectId}(projectId=${projectId})}" th:object="${member}" method="post"
              class="member-list-form">
            <div class="invite-member-box">
                <div th:if="${memberAlreadyAddedMsg}" class="error-msg">
                    <p th:text="${memberAlreadyAddedMsg}">Member already added</p>
                </div>
                <input th:field="*{email}" placeholder="Write an email" class="create-input"/>
                <button type="submit" class="add-member-button">Invite member</button>
            </div>
            <br>
            <label >
                Members in project:
            </label>

            <ol class="invte-member-list">
                <li th:each="member : ${members}">
                    <p th:text="${member.getEmail()}"></p>
                </li>
            </ol>


        </form>


    </div>
    <h3 th:text="'Estimated time for all tasks and subtasks: ' + ${overallEstimatedTime} + ' hours'"></h3>
    <ol class="tasklist">
        <li th:each="task : ${tasks}" class="task">
            <h3 th:text="${task.title}"/>
            <p th:text="${task.description}"/>

            <p th:text="'Estimated time: ' + ${task.estimatedTime} + ' hours'"/>
            <form th:action="@{/deleteTask/{taskId}(taskId=${task.taskId})}"
                  method="post">
                <button type="submit" class="remove-task">Remove</button>
            </form>
            <a th:href="@{/createSubtask/{taskId}(taskId=${task.getTaskId()})}" class="create-subtask">
                Create new subtask
            </a>
            <ol>
                <li th:each="subtask : ${task.getSubtasks()}" class="task">
                    <h3 th:text="${subtask.title}"/>
                    <p th:text="${subtask.description}"/>
                    <p th:text="'Estimated time: ' + ${subtask.estimatedTime} + ' hours'"/>
                    <form th:action="@{/deleteSubtask/{subtaskId}(subtaskId=${subtask.subtaskID})}"
                          method="post">
                        <button type="submit" class="remove-task">Remove</button>
                    </form>
                </li>
            </ol>
        </li>
    </ol>


</div>

</body>
</html>